/* scroll-top-btn */
.scroll-top-btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: var(--d-pri-c);
    color: var(--pri-c);
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  /* Show button when scrolled */
  .scroll-top-btn.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .scroll-top-btn:hover {
    background-color: var(--pri-c);
  }